<h3 style="color:blue;">Edit Listing</h3></br></br>
<div>
<form action="/listings/<%= @listing.id %>" method="post">
    Title: <input type="text" name="listing[title]" id="title" placeholder="title here" value="<%= @listing.title %>"></br></br>
    Description: <input type="text" name="listing[description]" id="description" placeholder="description here" value="<%= @listing.description %>"></br></br>
    Image: <input type="text" name="listing[image_url]" id="image_url" placeholder="image url here" value="<%= @listing.image_url %>"></br></br>
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Submit" id="submit">
</form>
</div>