<h4 style="color:blue;">Check out your listings.</h4>

Click <a href="/listings/new">here</a> to create a new listing.</br>
<br>
<ul>
<% @listings.each do |listing| %>
  <li><a href="/listings/<%= listing.id %>"><%= listing.title %></a></li>
<% end %>
</ul>