<h3>New Listing</h3>
<div>
  <form action="/listings" method="post"></br>
    Title: <input type="text" name="listing[title]" id="content" placeholder="title here"></br></br>
    Description: <input type="text" name="listing[description]" id="content" placeholder="description here"></br></br>
    Image: <input type="text" name="listing[image_url]" id="content" placeholder="upload image here"></br></br>
      <input type="submit" value="Submit" id="submit">
  </form>
</div>