<h3>New Listing</h3>
<div>
  <form action="/listings" method="post"></br>
    Title: <input type="text" name="listing[title]" id="title"></br></br>
    Description: <input type="text" name="listing[description]" id="description"></br></br>
    Starting Bid: <input type="text" name="listing[starting_bid]" id="starting_bid"></br></br>
    Image: <input type="text" name="listing[image_url]" id="content"></br></br>
    <input type="submit" value="Submit" id="submit">
  </form>
</div>