<h3>New Listing</h3>
<div>
  <form action="/listings" method="post"><br>
    Title: <input type="text" name="listing[title]" id="title"><br><br>
    Description: <br><textarea name="listing[description]" id="description"></textarea><br><br>
    Starting Bid: <input type="text" name="listing[starting_bid]" id="starting_bid"><br><br>
    Image URL: <input type="text" name="listing[image_url]" id="content"><br><br>
    <input type="submit" value="Submit" id="submit" class="btn btn-default">
  </form>
</div>