<h3><%= @listing.title %></h3>
<p><img class="listing_image" src="<%= @listing.image_url %>" alt="listing image"></p>
</br>
</br>
<% if current_user.listings.include?(@listing) %>
  <div>
    <a href="/listings/<%= @listing.id %>/edit">Edit Listing</a>
    <form action="/listings/<%= @listing.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Remove Listing">
    </form>
  </div>
<% end %>
</br>
</br>
