<h3>Login to Bidify</h3>
<% if flash.has?(:message) %>
  <div class="alert alert-danger" role="alert"><%= flash[:message] %></div>
<% end %>
<form action="/login" method="POST"></br>
  <input type="text" name="username" placeholder="Username"></br></br>
  <input type="password" name="password" placeholder="Password"></br></br>
  <input type="submit" id="submit" value="Log in" class="btn btn-default">
</form>