<!DOCTYPE HTML>
<html>
  <head>
    <title>Bidify</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <a href="/listings" class="navbar-brand">Bidify</a>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li>
              <a href="/logout" class="btn btn-default">Logout</a>
            </li>
          <% else %>
            <li>
              <a href="/signup" class="btn btn-default">Sign Up</a>
            </li>
            <li>
              <a href="/login" class="btn btn-default">Login</a>
            </li>
          <% end %>
          </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %> 

      <br>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>